body {
  font-size: 62.5%;
  background-color: #1c1c1c;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
Color Swatch:
Primary color: #1c1c1c (Dark Grey)
Secondary color: #762813 (Kobe)
Accent color: #136176 (Blue Sapphire)

light color: #f7f7f7 (Cultured)
Dark color: #000000 (Black)
*/